<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/styles.css" th:href="@{~/styles.css}" type="text/css" />
        
        
    </head>

    <body>
        <h2>Smoothie tietokanta</h2>



        <p><a href="/smoothiet">Smoothiet</a></p>
        <p><a href="/raaka-aineet">Raaka-aineet</a></p>
    </body>
</html>